<form method="POST" action="/pirates">
  <h1>Pirates</h1>
     <label>Pirate Name: <input id="pirate_name" type="text" name="pirate[name]"/></label>
     <label>Pirate Weight: <input id="pirate_weight" type="text" name="pirate[weight]"/></label>
     <label>Pirate Height: <input id="pirate_height" type="text" name="pirate[height]"/></label>
  <h2>Ships</h2>
     <label>Ship Name1: <input id="ship_name_1" type="text" name="pirate[ships][][name]"/></label>
     <label>Ship Type1: <input id="ship_type_1" type="text" name="pirate[ships][][type]"/></label>
     <label>Ship Booty1: <input id="ship_booty_1" type="text" name="pirate[ships][][booty]"/></label><br>

     <label>Ship Name2: <input id="ship_name_2" type="text" name="pirate[ships][][name]"/></label>
     <label>Ship Type2: <input id="ship_type_2" type="text" name="pirate[ships][][type]"/></label>
     <label>Ship Booty2: <input id="ship_booty_2" type="text" name="pirate[ships][][booty]"/></label>
    <input type="submit" value="Submit">
</form>
