<!DOCTYPE html>
<html>
  <head>
    <title>Pirate Maker!</title>
  </head>
  <body>
    <form method='post' action='/pirates'>
      <p><label for="pirate[name]">Pirate Name</label>
      <input type="text" name="pirate[name]"></p>
      <p><label for="pirate[weight]">Pirate Weight</label>
      <input type="text" name="pirate[weight]"></p>
      <p><label for="pirate[height]">Pirate Height</label>
      <input type="text" name="pirate[height]"></p>
      <br><br>
      <p><label for="pirate[ships][][name]">Ship 1 Name</label>
      <input type="text" name="ship_name_1"></p>
      <p><label for="pirate[ships][][type]">Ship 1 Type</label>
      <input type="text" name="ship_type_1"></p>
      <p><label for="pirate[ships][][booty]">Ship 1 Booty</label>
      <input type="text" name="ship_booty_1"></p>
      <br><br>
      <p><label for="pirate[ships][][name]">Ship 2 Name</label>
      <input type="text" name="ship_name_2"></p>
      <p><label for="pirate[ships][][type]">Ship 2 Type</label>
      <input type="text" name="ship_type_2"></p>
      <p><label for="pirate[ships][][booty]">Ship 2 Booty</label>
      <input type="text" name="ship_booty_2"></p>

      <input type="submit" id="Submit">
    </form>
  </body>
</html>
