<h1><%= "Pirate: #{@pirate.name}  Weight: #{@pirate.weight}  Height: #{@pirate.height}" %></h1>


<h2><%= "Ship: #{@ships[0].name} Type: #{@ships[0].type}  Booty: #{@ships[0].booty}" %></h2>

<h2><%= "Ship: #{@ships[1].name} Type: #{@ships[1].type}  Booty: #{@ships[1].booty}" %></h2>



